// Primary
$Dark_cyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);

// Neutral
$Very_dark_blue: hsl(212, 21%, 14%);
$Dark_grayish_blue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

// Font_Style
$Montserrat: 'Plus Jakarta Sans', sans-serif;
$Fraunces: 'Fraunces', serif;

// Font_Weight
$small: 500;
$large: 700;